.department-page {
  padding: 30px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-header h1 {
  font-size: 34px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 5px;
}

.page-header p {
  color: #64748b;
}

.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

.add-btn:hover {
  background: #1d4ed8;
}

.table-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.search-box input {
  width: 320px;
  padding: 12px 15px;
  border: 1px solid #dbe2ea;
  border-radius: 10px;
  outline: none;
}

.entries-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.entries-box select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #dbe2ea;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f8fafc;
}

th {
  text-align: left;
  padding: 18px;
  font-weight: 700;
  color: #334155;
}

td {
  padding: 18px;
  border-top: 1px solid #e2e8f0;
}

tbody tr:hover {
  background: #f8fafc;
}

.edit-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #1d4ed8;
}

.delete-btn:hover {
  background: #dc2626;
}