.form-wrapper{
max-width:900px;
margin:auto;
padding:30px;
}

.form-group{
margin-bottom:20px;
}

input,
textarea,
select{

width:100%;
padding:14px;
border:1px solid #ddd;
border-radius:10px;

}

.save-btn{

width:100%;
background:#2563eb;
color:white;
border:none;
padding:14px;
border-radius:10px;

}

.back-btn{

margin-bottom:20px;

}